@font-face {
  font-family: "Cursed Timer ULiL", sans-serif;
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
  margin: 0;
  background-image: url("background.jpg");
  background-size: auto 100%;
  text-align: center;
  height: 100vh;
  max-width: 100vh;
}

.container {
  display: flex;
  justify-content: space-around;
}

h1,
h3 {
  color: white;
}
/*need to change scores font using face font property*/
.score {
  display: block;
  width: 155;
  height: 120;
  background-color: black;
  color: F94F6D;
  font-size: 90px;
  margin: 20px;
  border-radius: 20px;
  font-family: Cursed Timer ULiL;
  padding: 10px;
}

.btn {
  background: black;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}
